<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help | LightFlix</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../js/renders.js"></script>
    <script type="module" src="../js/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"
        integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
</head>

<body>
    <header></header>
    <main class="container">
        <h1 class="text-center mb-5">Welcome to LightFlix</h1>
        <div class="help-page-text">
            <p>Here you will find some steps to get started.</p>
            <p>First, go to <a href="https://www.themoviedb.org/">www.themoviedb.org</a>, create an account or log in and get an API
                key, you will need it to register on
                LightFlix and use our page.</p>
            <p>When you finally got your API key, go to 'register' page, register, then login and voilà, you will see some movies on
                your user's page.</p>
            <p>WIP: We're working on improving the website to be able to save your favorite movies.</p>
        </div>
    </main>
    <footer></footer>
</body>

</html>